<h1>家計簿</h1>
<div class="card">
  <div class="card-body">
    <%= form_with method: "get", local:true do |f| %>
      <div class="form-row"> 
        <div class="col">
          <%= f.text_field "name", placeholder:"名前を入力", class:"form-control" %>
        </div>
        <div class="col">
          <%= f.text_field "content", placeholder:"内容を入力", class:"form-control" %>
        </div>
        <div class="col">
          <%= f.submit "検索", class:"btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "登録", new_task_path, class:"btn btn-success" %>
<table class="table table-striped">
  <tr>
    <th>名前</th>
    <th>内容</th>
    <th>リンク</th>
  </tr>
  <% @tasks.each do |task| %>
  <tr>
    <td><%= task.name %></td>
    <td><%= task.content %></td>
    <td>
      <%= link_to "詳細", task_path(task), class:"btn btn-info" %>
      <%= link_to "更新", edit_task_path(task), class:"btn btn-warning" %>
      <%= link_to "削除", task_path(task), method:"delete", data: { confirm: '本当に削除しますか？' }, class:"btn btn-danger" %>
    </td>
  </tr>
  <% end%>
</table>